@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at 50%, #684505, #64341B 50%, #744123 90%, black 100%);
  background-image: url('fondo-suelo-marron.jpg');
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  cursor: pointer;
}

.play-area {
  width: 100%;
  margin-top: 1rem;
}

.play-area-col {
  background-color: #64341B99;
}

.mole {
  background-image: url('mole.png');
  background-color: #64341B99;
  background-size: cover;
  background-position-x: 50%;
  transition: all .25 ease-in-out;
}

.mole.catched{
  transform: rotate(180deg);
}

.info {
  min-width: 300px;
  position: relative;
  padding:1rem;
  border: 5px solid white;
  background: beige;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1024px){
[name="difficulty"]{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
}

@media (min-width: 1024px){
  .info {
    min-width: 200px;
    position: absolute;
    top:1rem;
    left:1rem;   
  }

  .square {
    width: 200px;
    height: 200px;   
  }

  .play-area {
    width: 850px;
  }
}
